@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* variables */
:root {
    --font-principal: 'DM Sans', sans-serif;
    --font_size_large: 16px;
    --font_size_medium: 14px;
    --font_size_small: 12px;
    --font_size_tiny: 11px;
    --font_weight_light: 300;
    --font_weight_regular: 400;
    --font_weight_medium: 600;
    --font_color_primary: #39393b;
    --font_color_secondary: #8b8b8c;
    --background_color_primary: #683ee6;
}

/* normalization */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* global styles */

body {
    font-size: 16px;
    font-family: var(--font-principal);
    height: 200vh;
}

a,
button {
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

/* header */
header{
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.1);
}

.hostinger--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 24px;
    background-color: #fff;
    width: 100%;

}
.hostinger--header--left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 32px;
 
}
.hostinger--header--left button{
    color: var(--font_color_primary);
    font-size: var(--font_size_large);
    font-weight: var(--font_weight_regular);
    font: var(--font-principal);
}

.hostinger--navegation{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.hostinger--navegation div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hostinger--navegation button{
    display: flex;
    flex-direction: row;
    align-items: center;}


.hostinger--header--right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
    font-weight: var(--font_weight_medium);

}   
.hostinger--header--right div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 12px
}

.hostinger--header--right a{
    color: var(--font_color_primary);
    font-size: var(--font_size_large);
}

.hostinger--navegation button:hover,
.hostinger--header--right a:hover{
    color: var(--font_color_secondary);
    transition: color 0.3s ease-in-out; 
    
}
.hostinger--header__flag{   
    width: 32px;
    height: 20px;
    vertical-align: middle;
}

.hostinger--login{
    border: solid 1px var(--font_color_secondary);
    border-radius: 8px;
    padding: 11px 15px;
}

.hostinger--login:hover{
    transition: 0.5s ease-in-out;
    background-color: #f7f7f7; 
    color: #000; 

}

/* main{
    height: 200vh;
    background-color: #8b8b8c;
} */

/* kodee button */
.kodee--button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: var(--background_color_primary);
    border-radius: 100px;
    border: solid 1px white;
    color: white;
    margin: 4px;
    padding: 8px 16px;
    font-size: var(--font_size_medium);
    font-weight: var(--font_weight_medium);
    position: fixed;
    bottom: 16px;
    right: 16px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    z-index: 2;
}

.kodee--button:hover{       
    background-color:#5231b8;
    transition: 0.3s ease-in-out;
}

/* Kodee box Area */

.kodee--menu{
    background-color: #fff;
    width: 360px;
    height: 690px;
    border-radius:16px ;
    border: solid 1px #8b8b8b1c;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 3; 
    bottom: 70px;
    right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 12px;
}

.kodee--menu--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font_size_medium);
    font-weight: var(--font_weight_light);
}

.kodee--menu--hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 32PX;
    text-align: center;
    padding-bottom: 80px;
}

.kodee--menu--hero--icon{
    color: var(--background_color_primary);
    width:48px;
    height: 48px;
}

.kodee--menu--options button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
    margin: 8px;
    font-size: var(--font_size_small);
    width: 100%;
    border-bottom: solid 1px #0000003f;
    font: var(--font-principal);
    text-align: left;
}   

.kodee--menu--options button:last-child {
    border-bottom: none;
}

.kodee--services{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

.kodee--services--button {
        border: solid 1px #0000003f;
        border-radius: 100px;
        padding: 8px 8px;
        font-size: var(--font_size_small);
        font-weight: var(--font_weight_medium);
        color: var(--font_color_primary);
        background-color: #ffffffa6;
        font-family: var(--font-principal);

}

.kodee--legal{
    font-size: var(--font_size_tiny);
    text-align: center;
    color:  var(--font_color_secondary);
}

.kodee--form--textarea{
    border: solid 2px #0000003f;
    border-radius: 20px;
    font-size: var(--font_size_medium);
    color: var(--font_color_primary);
    background-color: #ffffffa6;
    resize:none;
    width: 100%;
    padding: 12px 4px 24px 12px;
    margin: 0 4px;
    font-size: va(--font_size_medium);
    position: relative;

}
.kodee--form--button{
    position: absolute;;
    bottom: 60px;
    right: 24px;
    background-color: #0000000c;
    color: var(--font_color_secondary);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


.kodee--services--button:hover,
.kodee--menu--options button:hover{
    background-color: #0000000c;
    transition: 0.3s ease-in-out;

}

/* para que el que esta seleccionado se vea diferente */
.selected{
    background-color: #683ee633;
    color: var(--background_color_primary);
    border-color: var(--background_color_primary);
   transition: 0.3s ease-in-out;
}

.kodee--form--label{
    display: none;
}